
# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!README.md

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Whitelist folders
# yes to folder + no to contents + repeat...
# trailing "/" is optional for folders, may match file though.
# "/" is NOT optional when followed by a *
!/wp-content
/wp-content/*

!/resources

!/audio

!/client-information

!/spec

!/styles

!/example-folder


!/wp-content/plugins

!/wp-content/themes
/wp-content/themes/*

!/wp-content/themes/sheriffderek-2019
